:root {
  --container-margin: 20rem;
  --color-black:rgb(32, 32, 32);
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d365, #ec5d35);
  color:white;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

header {
  background-color: var(--color-black);
  height: 5rem;
  padding:1rem var(--container-margin);
  display:flex;
  justify-content: space-between;
  align-items: center;
}

select { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin-right:3rem;
  position:relative;
  overflow: hidden;
}

select {
  color: var(--color-black);
  width:10rem;
  cursor:pointer;
  padding:0.5rem;
  border-radius:5px;
}

.select::after{
  content:"\25BC";
  position: absolute;
  background:white;
  color:var(--color-black);
  top:0;
  right:0;
  padding:0.25rem;
  pointer-events: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: all 0.3s ease;
}

.search-bar-div{
  display: flex;
  align-items: center;
}

.select:hover::after{
  background: var(--color-black);
  color:white;
}

#search-btn {
  margin-right: 1rem;
  cursor: pointer;
}

.search-bar{
  height:2rem;
  border:none;
  border-radius: 5px;
  font-size: medium;
  padding:0.5rem;
}

#gallery {
  display: grid;
  column-gap: 10rem;
  row-gap: 5rem;
  margin:3rem var(--container-margin);
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 13fr));
}

.card {
  background-color: white;
  color:black;
  border-radius: 15px;
  text-align: center;
  width: 25rem;
  height:55rem;
  padding:2rem 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:'title-area'
                      'img-area'
                      'text-area';
  flex-direction: column;
  align-items: center;
}

.title-area {
  grid-area:title-area;
  /* background-color: red; */
  display: flex;
  height:100%;
  justify-content: center;
  align-items: center;
}

.title-area, h3 {
  font-size: 1.5rem;
  margin:0 2rem;
}


.img-area {
  grid-area:img-area;
  /* background-color:blue; */
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width:65%;
  height:auto;
  align-self: center;
}

.text-area{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/*   background-color:yellow; */
  height:100%;
}

.text-area h4{
  margin-right: 0.5rem;
  font-size: 3rem;
}

.price-no-discount{
  font-size: 2.5rem;
  opacity: 0.3;
  text-decoration: line-through;
}

.price-with-discount{
  font-size: 3.5rem;
  color:red;
}

.discount {
  color:red;
  font-size: 3rem;
  transform:rotateZ(-5deg);
}
